/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
screenshots/*
log/*
.idea/
*~
chromedriver.log
.ruby-version
.DS_Store
.kate-swp
.ruby-gemset
